
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
  font-family: gluten;
}
/* Animated Gradient Backgroound */
main{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #2EA6D5, #23D5AB);
  background-size: 400% 400%;
  animation: change 10s linear 0s infinite alternate both;
}
@keyframes change{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
/* Glass effect to Main(center) section */
.glass{
  border-radius: 20px;
  display: flex;
  justify-content: left;
  height: 90vh;
  width: 65%;
  background: linear-gradient(45deg, rgba(255,255,255,0.9),rgba(255,255,255,0.6));
}
/* Designing circles and giving them animation */
#circle{
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.178),rgba(255, 255, 255, 0.048));
  position: absolute;
  border-radius: 50%;
}
.circle1{
  width: 100px;
  height: 100px;
  animation: circle_movement1 30s linear infinite alternate
  both;
}
.circle2{
  width: 200px;
  height: 200px;
  animation: circle_movement2 40s linear infinite alternate
  both;
}
.circle3{
  width: 300px;
  height: 300px;
  animation: circle_movement3 50s linear 5s infinite alternate both;
}
/* .circle4{
  width: 500px;
  height: 500px;
  top: -100px;
  left: -50px;
} */
/* Random Values, making bubbles bounce(changing state) out of the frame */
@keyframes circle_movement1{
  0%{
    transform: translate(-500px,500px);
    }
  50%{
    transform: translate(500px,-500px);
  }
  100%{
    transform: translate(-750px,-100px);
  }

}
@keyframes circle_movement2{
  0%{
    transform: translate(-750px,-100px);
    }
  50%{
    transform: translate(700px,-700px);
  }
  100%{
    transform: translate(200px,700px);
  }
}
@keyframes circle_movement3{
  0%{
    transform: translate(900px,-400px);
    }
  50%{
    transform: translate(-900px,70px);
  }
  100%{
    transform: translate(200px,700px);
  }
}
/* Styling main content */
/* left part */
.left{
  width: 25%;
  background: linear-gradient(45deg,rgba(255, 0, 0, 0.4),rgba(0, 0, 255, 0.4));
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 15px;
}
.avatar{
  padding: 10px 0px;
  height: 30%;
  line-height: 1.5;
}
.avatar img{
  height: 60%;
}
.links {
  width: 100%;
  padding: 10px 0px;
  height: 40%;
}
.links div{
  display: flex;
  height: 25%;
  padding: 10px;
  align-items: center;
  justify-content:space-evenly;
}
.ad{
  border-radius: 20px;
  color: rgba(8, 221, 210, 0.829);
  font-size: 20px;
  background: linear-gradient(-45deg,rgba(255, 0, 0, 0.192),rgba(0, 0, 255, 0.274));
  padding: 10px 10px;
  height: 30%;
}
.ad img{
  height: 60%;
}
/* CSS for Games/Right part */
.right{
  color: #ffffff;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.status{
  font-size: 30px;
  color: rgba(174, 0, 255);
  text-shadow: 3px 3px 3px rgba(3, 3, 3, 0.507);
}
input{
  width: 60%;
  border-radius: 5px;
  text-align: center;
  height: 25px;
}
.cards{
  width: 100%;
  height: 75%;
}
.game{
  display: flex;
  align-items: center;
  height: 30%;
  margin: 10px 30px;
  border-radius: 20px;
  background: linear-gradient(-45deg,rgba(255, 0, 0, 0.507),rgba(0, 0, 255, 0.493));
}
.image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.image img{
  width: 100px;
}
.percentage{
  height: 80%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
}
#progress{
  border-radius: 10px;
  border: 1px solid white;
  width: 80%;
  height: 20px;
  background-color: rgba(128, 36, 190, 0.698);
  background-size: 60%;
}